<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Redpay</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <style>
      #userMdn {
        appearance: textfield; /* Properti standar untuk kompatibilitas */
      }

      #userMdn::-webkit-outer-spin-button,
      #userMdn::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Untuk Firefox */
      #userMdn {
        -moz-appearance: textfield;
      }

      body {
        font-family: "Work Sans", sans-serif;
        background-color: #f8f9fa;
        padding: 20px;
      }
      .result-container {
        max-width: 500px;
        margin: auto;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }
      .payment-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
      }

      .btn-primary {
        background: #007bff;
        border: none;
        color: white;
        transition: all 0.3s;
      }
      .btn-primary:hover {
        background: #007bff;
      }

      .btn-outline {
        border: 2px solid #007bff;
        color: #007bff;
        transition: all 0.3s;
      }
      .btn-outline:hover {
        background: #007bff;
        color: white;
      }
      .small {
        font-size: 12px;
        color: #777;
        text-align: center;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="result-container">
      <h4 class="text-center">Pembayaran {{ .PaymentMethodStr}}</h4>
      <div class="payment-info">
        <div>
          <p class="mb-0">Redigame - {{ .ItemName}}</p>
        </div>
        <div class="text-end">
          {{ if or (eq .PaymentMethod "qris") (eq .PaymentMethod "qrph") }}
          <!-- <div></div> -->
          <h5>Total: <strong>{{ .Currency}} {{ .Amount}}</strong></h5>

          {{ else }}
          <div>
            <h6>Sub Total: {{ .Currency}} {{ .Amount}}</h6>
            <h6>VAT: {{ .Currency}} {{ .VAT}}</h6>
            <h5>Total: <strong>{{ .Currency}} {{ .Price}}</strong></h5>
          </div>
          {{ end }}
        </div>
      </div>

      <form action="" method="post" class="mt-3" id="paymentForm">
        {{ if eq .PaymentMethod "ovo" }}
        <div class="form-group">
          <label for="userMdn">Masukan Nomor HP:</label>
          <br />
          <input
            type="number"
            class="form-control"
            id="userMdn"
            style="
              width: 100%;
              margin-top: 12px;
              margin-bottom: 18px;
              height: 40px;
              padding-left: 10px;
              font-size: 14px;
            "
            name="user_mdn"
            placeholder="081234567899"
            required
          />
        </div>
        {{end}} {{ if or (eq .PaymentMethod "qris") (eq .PaymentMethod "qrph")
        }}
        <!-- <div></div> -->
        {{ else }}
        <div class="d-flex gap-2">
          <button
            type="button"
            class="btn btn-outline w-50"
            onclick="window.history.back();"
          >
            Kembali
          </button>
          <button
            type="submit"
            id="btn-submit"
            class="btn btn-primary w-50 btn-submit"
            style="padding: 2px"
          >
            {{ if eq .PaymentMethod "ovo" }} Bayar {{ else }} Bayar dengan {{
            .PaymentMethodStr }}* {{ end }}
          </button>
        </div>
        {{ end }}

        <input type="hidden" name="price" value="{{ .Price }}" />
        <input type="hidden" name="amount" value="{{ .Amount }}" />
        <input
          type="hidden"
          name="payment_method"
          value="{{ .PaymentMethod }}"
        />
        <input type="hidden" name="user_id" value="{{ .UserId }}" />
        <input
          type="hidden"
          name="merchant_transaction_id"
          value="{{ .MtID }}"
        />
        <input type="hidden" name="client_appkey" value="{{ .ClientAppKey }}" />
        <input type="hidden" name="app_id" value="{{ .AppID }}" />
        <input type="hidden" name="bodysign" value="{{ .BodySign }}" />
        <input type="hidden" name="item_name" value="{{ .ItemName }}" />
        <input type="hidden" name="item_id" value="{{ .ItemId }}" />
        <input type="hidden" name="token" value="{{ .Token }}" />
        <input
          type="hidden"
          name="notification_url"
          value="{{ .NotificationURL}}"
        />
        <input type="hidden" name="redirect_url" value="{{ .RedirectURL }}" />
        <input type="hidden" name="customer_name" value="" />
      </form>
      {{ if eq .PaymentMethod "gopay" }}

      <form action="" method="post" id="paymentQrForm" class="mt-3 text-center">
        <p>Atau</p>
        <button
          type="submit"
          class="btn btn-primary btn-sm btn-submit"
          style="margin-top: -10px"
        >
          Bayar dengan {{ .PaymentMethodStr}}**
        </button>
      </form>
      {{ else }}
      <!-- <div></div> -->
      {{ end }} {{ if or (eq .PaymentMethod "qris") (eq .PaymentMethod "qrph")
      }}

      <form action="" method="post" id="paymentQrForm" class="mt-3 text-center">
        {{ if eq .PaymentMethod "qrph" }}
        <div class="form-group mb-2">
          <label for="customer_name">Nama:</label>
          <br />
          <input
            type="text"
            class="form-control"
            style="
              width: 100%;
              margin-top: 12px;
              height: 30px;
              padding-left: 10px;
              font-size: 12px;
            "
            name="customer_name"
            placeholder="Masukan nama"
            required
          />
        </div>
        {{ else }}
        <!-- <div></div> -->

        {{ end }}
        <button
          type="submit"
          class="btn btn-primary btn-submit"
          style="margin-top: 10px"
        >
          Bayar dengan {{ .PaymentMethodStr}}**
        </button>
      </form>
      <p class="small">
        **Selanjutnya akan menampilkan QR code.<br />
        Harga termasuk pajak.
      </p>
      {{ else }}
      <!-- <div></div> -->
      {{ end }} {{ if or (ne .PaymentMethod "qris") (ne .PaymentMethod "qrph")
      }}
      <p class="small">
        *Selanjutnya akan membuka aplikasi {{ .PaymentMethodStr}}.<br />
        <!-- **Selanjutnya akan
        menampilkan QR code.<br /> -->
        Harga termasuk pajak.
      </p>
      {{ end }}
    </div>
    <script>
      let isQris = false;

      document
        .getElementById("paymentQrForm")
        ?.addEventListener("submit", function (event) {
          event.preventDefault();
          isQris = true;
          document
            .getElementById("paymentForm")
            .dispatchEvent(new Event("submit"));
        });

      document
        .getElementById("paymentForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const submitButton = document.querySelector(".btn-submit");
          submitButton.disabled = true;

          const formData = new FormData(this);

          const data = Object.fromEntries(formData.entries());

          const dataFormated = {
            amount: parseFloat(data.amount),
            price: parseFloat(data.price),
            user_mdn: data.user_mdn,
            client_appkey: data.client_appkey,
            payment_method: data.payment_method,
            app_name: data.app_name,
            merchant_transaction_id: data.merchant_transaction_id,
            user_id: data.user_id,
            item_name: data.item_name,
            item_id: data.item_id,
            app_id: data.app_id,
            token: data.token,
            customer_name: data.customer_name || "",
            notification_url: data.notification_url,
            redirect_url: data.redirect_url,
          };

          fetch("/api/payment/notelco", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              appid: data.app_id,
              appkey: data.client_appkey,
              token: data.token,
              bodysign: data.bodysign,
            },
            body: JSON.stringify(dataFormated),
          })
            .then((response) => response.json())
            .then((data) => {
              submitButton.disabled = false;
              if (data.success) {
                if (isQris) {
                  window.location.href = `/api/payment-qris?qrisUrl=${data.qrisUrl}&acquirer=Gopay&back_url=${data.back_url}&typeQr=${data.payment_method}`;
                } else {
                  if (data.urlPayment) {
                    window.location.href = data.urlPayment;
                  }
                  window.location.href = data.redirect;
                }
              } else {
                alert(data.error || data.message || "Transaksi gagal");
              }
            })
            .catch((error) => {
              submitButton.disabled = false;
              console.error("Error:", error);
            });

          const allowedClients = {
            "6078feb8764f1ba30a8b4569": "xUkAmrJoE9C0XvUE8Di3570TT0FYwju4",
            "64522e4e764f1bb11b8b4567": "1PSBWpSlKRY400bFIXKs2kBjNxLGf15h",
            MHSBZnRBLkDQFlYDMSeXFA: "5HjSLo37LwvIhTAX_zOJkg",
            "64d07790764f1bbe758b4569": "L66vZHbpCnCyjRzvnJ67wYeBEKPb5k1Q",
            "5ab32a23764f1b296b8bb386": "QdQpQLCBTbkAJv0OOTYhxAdojWkot5Gk",
          };

          if (dataFormated.payment_method === "ovo") {
            const expectedAppkey = allowedClients[data.app_id];
            const useV1 =
              expectedAppkey && expectedAppkey === data.client_appkey;

            const redirectUrl = useV1
              ? `/api/v1/success-payment/${dataFormated.user_mdn}/${dataFormated.token}`
              : `/api/success-payment/${dataFormated.user_mdn}/${dataFormated.token}`;

            window.location.href = redirectUrl;
          }
        });

      // Saat kembali ke halaman (misal: user tekan back)
      window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
          // Halaman dibuka dari cache (misalnya user tekan tombol back)
          location.reload();
        }
      });

      document
        .getElementById("userMdn")
        .addEventListener("input", function (event) {
          this.value = this.value.replace(/[^0-9]/g, "");
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
