<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet" />
    <style>
      body {
        font-family: "Inter", sans-serif;
        background-color: #e2e8f0;
      }

      /* Hide number input arrows */
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        -moz-appearance: textfield;
      }
    </style>
  </head>
  <body class="flex items-center justify-center min-h-screen p-4">
    <div class="bg-white rounded-xl shadow-lg w-full max-w-sm overflow-hidden">
      <!-- Header Section -->
      <div
        class="bg-blue-600 text-white p-6 rounded-t-xl flex justify-between items-center">
        <div class="flex items-center space-x-3">
          <!-- App Logo -->
          <!-- <img
            src="https://placehold.co/40x40/000000/FFFFFF?text=Logo"
            alt="App Logo"
            class="w-10 h-10 rounded-full" /> -->
          <div>
            <h1 class="text-xl font-semibold">{{ .AppName }}</h1>
            <p class="text-sm font-light opacity-80 mt-1">{{ .ItemName }}</p>
          </div>
        </div>
        <div class="text-right">
          <p class="text-lg font-bold">
            {{ .Currency }} {{ .FormattedAmount }}
          </p>
          <!-- <div
            class="inline-flex items-center bg-yellow-400 text-yellow-900 text-xs font-semibold px-2 py-1 rounded-full mt-1">
            <svg
              class="w-3 h-3 mr-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                clip-rule="evenodd"></path>
            </svg>
            Promo 20%
          </div> -->
        </div>
      </div>

      <div class="p-6 space-y-6">
        <!-- Payment Info Section -->

        <div class="text-center mb-2 font-semibold">
          <h1>{{ .PaymentMethodStr }}</h1>
        </div>
        <div class="space-y-4">
          <div class="flex items-center space-x-2">
            <span class="w-2.5 h-2.5 bg-blue-500 rounded-full"></span>
            <h2 class="text-md font-semibold text-gray-800">
              Informasi Pembayaran
            </h2>
          </div>

          <!-- <img src="/assets/BCA.png" alt="Logo" /> -->

          <form
            action="/api/payment"
            method="POST"
            id="paymentForm"
            class="space-y-4">
            {{ if or (eq .PaymentMethod "va_bca") (eq .PaymentMethod
            "va_mandiri") (eq .PaymentMethod "va_bri") (eq .PaymentMethod
            "va_bni") (eq .PaymentMethod "va_permata") (eq .PaymentMethod
            "va_sinarmas") (eq .PaymentMethod "alfamart_otc") (eq .PaymentMethod
            "indomaret_otc") (eq .PaymentMethod "visa_master") }}
            <!-- Full Name Input -->
            <div class="relative">
              <label
                for="customer_name"
                class="absolute -top-3 left-3 bg-white px-1 text-sm text-gray-500"
                >Nama Lengkap</label
              >
              <input
                type="text"
                id="customer_name"
                name="customer_name"
                placeholder="Masukkan nama lengkap Anda"
                class="w-full px-4 py-2 mt-2 text-sm border-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                required />
            </div>
            {{ end }}

            <!-- Phone Number Input -->
            <div class="relative">
              <label
                for="userMdn"
                class="absolute -top-3 left-3 bg-white px-1 text-sm text-gray-500"
                >Nomor HP
              </label>
              <input
                type="number"
                id="userMdn"
                name="user_mdn"
                placeholder="+6281234567899"
                class="w-full px-4 py-2 mt-2 text-sm border-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                required />
              <p class="text-xs text-gray-400 mt-2">
                Digunakan untuk notifikasi transaksi dan verifikasi
              </p>
            </div>
            <input type="hidden" name="price" value="{{ .Price }}" />
            <input type="hidden" name="amount" value="{{ .Amount }}" />
            <input
              type="hidden"
              name="client_appkey"
              value="{{ .ClientAppKey }}" />
            <input
              type="hidden"
              name="payment_method"
              value="{{ .PaymentMethod }}" />

            <input type="hidden" name="app_name" value="{{ .AppName }}" />
            <input
              type="hidden"
              name="merchant_transaction_id"
              value="{{ .MtID }}" />
            <input type="hidden" name="user_id" value="{{ .UserId }}" />
            <input
              type="hidden"
              name="merchant_transaction_id"
              value="{{ .MtID }}" />
            <input type="hidden" name="item_name" value="{{ .ItemName }}" />
            <input type="hidden" name="currency" value="{{ .Currency }}" />
            <input type="hidden" name="app_id" value="{{ .AppID }}" />
            <input type="hidden" name="token" value="{{ .Token }}" />
            <input type="hidden" name="bodysign" value="{{ .BodySign }}" />
            <input type="hidden" name="item_id" value="{{ .ItemId }}" />
            <input
              type="hidden"
              name="redirect_url"
              value="{{ .RedirectURL }}" />
            <input type="hidden" name="UserIP" value="{{ .UserIP }}" />
            <input
              type="hidden"
              name="notification_url"
              value="{{ .NotificationURL }}" />
          </form>
        </div>

        <!-- Transaction Security Section -->
        <div
          class="bg-blue-50 text-blue-700 p-4 rounded-lg flex items-start space-x-4">
          <svg
            class="w-6 h-6 mt-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M10 2a8 8 0 100 16 8 8 0 000-16zM5 10a5 5 0 1110 0 5 5 0 01-10 0zm4-4a1 1 0 00-1 1v2a1 1 0 001 1h2a1 1 0 001-1V7a1 1 0 00-1-1H9z"
              clip-rule="evenodd"></path>
          </svg>
          <div>
            <h3 class="font-semibold">Transaksi Aman & Terpercaya</h3>
            <ul class="text-xs list-disc mt-2 space-y-1">
              <!-- <li>Data Anda dilindungi enkripsi SSL 256-bit</li> -->
              <li>Tidak ada biaya tambahan untuk transaksi ini</li>
              <li>Item akan masuk ke akun dalam 1-3 menit</li>
            </ul>
          </div>
        </div>

        <!-- Transaction Summary Section -->
        <div class="space-y-4 pt-4">
          <h2 class="text-md font-semibold text-gray-800">
            Ringkasan Transaksi
          </h2>
          <div class="space-y-2 text-sm text-gray-600">
            <div class="flex justify-between items-center">
              <span>Harga Coin</span>
              <span class="font-semibold text-gray-800"
                >{{ .Currency }} {{ .FormattedAmount }}</span
              >
            </div>
            <!-- <div class="flex justify-between items-center text-green-600">
              <span>Diskon Promo (20%)</span>
              <span class="font-semibold">-{{ .Currency }} 2.500</span>
            </div> -->
            <div class="flex justify-between items-center">
              <span>Biaya Admin</span>
              <span class="font-semibold">Gratis</span>
            </div>
          </div>
          <hr class="border-t border-gray-200" />
          <div class="flex justify-between items-center font-bold text-lg">
            <span>Total Pembayaran</span>
            <span class="text-blue-600"
              >{{ .Currency }} {{ .FormattedAmount }}</span
            >
          </div>
        </div>

        <!-- Action Buttons -->
        <div class="flex space-x-4 pt-4">
          <button
            type="button"
            onclick="window.history.back();"
            class="flex-1 px-4 py-2 border border-gray-300 rounded-xl text-gray-700 font-semibold transition-colors duration-200 hover:bg-gray-100">
            Kembali
          </button>
          <button
            type="submit"
            form="paymentForm"
            id="btn-pay"
            class="btn-next flex-1 px-4 py-2 rounded-xl bg-blue-600 text-white font-semibold flex items-center justify-center space-x-2 transition-colors duration-200 hover:bg-blue-700">
            <span>Bayar</span>
            <svg
              class="w-4 h-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                fill-rule="evenodd"
                d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>

        <p class="text-center text-xs text-gray-400 mt-4">
          Dengan melanjutkan, Anda menyetujui
          <a href="#" class="text-blue-600 hover:underline"
            >Syarat & Ketentuan</a
          >
          dan
          <a href="#" class="text-blue-600 hover:underline"
            >Kebijakan Privasi</a
          >
        </p>
      </div>

      <!-- Footer Section -->
      <div
        class="bg-gray-100 p-4 text-xs text-gray-400 flex justify-around items-center rounded-b-xl border-t border-gray-200">
        <div class="flex items-center space-x-1">
          <svg
            class="w-4 h-4"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-8a1 1 0 11-2 0 1 1 0 012 0zm3 0a1 1 0 11-2 0 1 1 0 012 0z"
              clip-rule="evenodd"></path>
          </svg>
          <span>SSL Secured</span>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            class="w-4 h-4"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10 2a8 8 0 100 16 8 8 0 000-16zm-1 8a1 1 0 112 0 1 1 0 01-2 0z"
              clip-rule="evenodd"></path>
          </svg>
          <span>PCI Compliant</span>
        </div>
        <div class="flex items-center space-x-1">
          <svg
            class="w-4 h-4"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-8a1 1 0 10-2 0v4a1 1 0 102 0v-4zm-1-4a1 1 0 100 2 1 1 0 000-2z"
              clip-rule="evenodd"></path>
          </svg>
          <span>24/7 Support</span>
        </div>
      </div>
    </div>

    <script>
      document
        .getElementById("paymentForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const submitButton = document.querySelector(".btn-next");
          submitButton.disabled = true;

          const formData = new FormData(this);

          const data = Object.fromEntries(formData.entries());

          const isVa =
            data.payment_method === "va_bca" ||
            data.payment_method === "va_bni" ||
            data.payment_method === "va_mandiri" ||
            data.payment_method === "va_bri" ||
            data.payment_method === "va_permata" ||
            data.payment_method === "va_sinarmas" ||
            data.payment_method === "indomaret_otc" ||
            data.payment_method === "visa_master" ||
            data.payment_method === "alfamart_otc";

          const dataFormated = {
            amount: parseFloat(data.amount),
            price: parseFloat(data.price),
            user_mdn: data.user_mdn,
            client_appkey: data.client_appkey,
            payment_method: data.payment_method,
            app_name: data.app_name,
            merchant_transaction_id: data.merchant_transaction_id,
            user_id: data.user_id,
            item_name: data.item_name,
            item_id: data.item_id,
            currency: data.currency,
            app_id: data.app_id,
            redirect_url: data.redirect_url,
            notification_url: data.notification_url,
            token: data.token,
            user_ip: data.UserIP,
            ...(isVa
              ? { customer_name: data.customer_name }
              : { customer_name: "" }),
          };

          const apiUrl = isVa ? "/api/payment-va" : "/api/payment";

          fetch(apiUrl, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              appid: data.app_id,
              appkey: data.client_appkey,
              token: data.token,
              bodysign: data.bodysign,
            },
            body: JSON.stringify(dataFormated),
          })
            .then((response) => response.json())
            .then((data) => {
              submitButton.disabled = false;
              if (data.success) {
                // if ( === ) {

                // } else {

                // }

                const allowedClients = {
                  "6078feb8764f1ba30a8b4569":
                    "xUkAmrJoE9C0XvUE8Di3570TT0FYwju4",
                  "64522e4e764f1bb11b8b4567":
                    "1PSBWpSlKRY400bFIXKs2kBjNxLGf15h",
                  MHSBZnRBLkDQFlYDMSeXFA: "5HjSLo37LwvIhTAX_zOJkg",
                  "64d07790764f1bbe758b4569":
                    "L66vZHbpCnCyjRzvnJ67wYeBEKPb5k1Q",
                  "5ab32a23764f1b296b8bb386":
                    "QdQpQLCBTbkAJv0OOTYhxAdojWkot5Gk",
                };

                const expectedAppkey = allowedClients[dataFormated.app_id];
                const useV1 =
                  expectedAppkey &&
                  expectedAppkey === dataFormated.client_appkey;

                const redirectUrl = useV1
                  ? `/api/v1/success-payment/${dataFormated.user_mdn}/${dataFormated.token}`
                  : `/api/success-payment/${dataFormated.user_mdn}/${dataFormated.token}`;

                switch (dataFormated.payment_method) {
                  case "smartfren_airtime":
                    window.location.href = `/api/input-otp/${data.reff_id}/${dataFormated.token}`;
                    break;
                  case "va_bca":
                    window.location.href = `/api/va-payment/${data.data.va}`;
                    break;
                  case "va_bri":
                    window.location.href = `/api/va-payment/${data.data.va}`;
                    break;
                  case "va_bni":
                    window.location.href = `/api/va-payment/${data.data.va}`;
                    break;
                  case "va_mandiri":
                    window.location.href = `/api/va-payment/${data.data.va}`;
                    break;
                  case "va_permata":
                    window.location.href = `/api/va-payment/${data.data.va}`;
                    break;
                  case "va_sinarmas":
                    window.location.href = `/api/va-payment/${data.data.va}`;
                    break;
                  case "alfamart_otc":
                    window.location.href = `/api/va-payment/${data.data.va}`;
                    break;
                  case "indomaret_otc":
                    window.location.href = `/api/va-payment/${data.data.va}`;
                    break;
                  case "visa_master":
                    window.location.href = data.data.payment_url;
                    break;

                  default:
                    window.location.href = redirectUrl;

                    break;
                }
              } else {
                alert(data.error || data.message || "Transaksi gagal");
              }
            })
            .catch((error) => {
              submitButton.disabled = false;
              console.error("Error:", error);
            });
        });

      window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
          // Halaman dibuka dari cache (misalnya user tekan tombol back)
          location.reload();
        }
      });
      document
        .getElementById("userMdn")
        .addEventListener("input", function (event) {
          this.value = this.value.replace(/[^0-9]/g, "");
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
