name: Deploy NextJS (Self Hosted)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Sync project with repo
        run: |
          cd /var/www//marketing-contact
          git fetch origin
          git reset --hard origin/main

      - name: Install dependencies
        run: |
          cd /var/www/marketing-contact
          npm install

      - name: Build Next.js app
        run: |
          cd /var/www/marketing-contact
          npm run build

      - name: Restart App (PM2)
        run: pm2 delete marketing-contact || true 
             pm2 start npm --name marketing-contact -- start

