name: Deploy NextJS 

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js
        run: npm run build

      - name: Sync files to server app folder
        run: sudo rsync -a --delete ./ /var/www/marketing-contact/

      - name: Restart Linux service
        run: sudo systemctl restart marketing-contact
